$dark-text-color: #282c34;
$bright-header-color: #FA1E88;
$dark-subHeader-color: #541A8B;

.hostPage-picture-host {
  border-radius: 5px;
  border: 1px $dark-text-color solid;
  margin: 2rem;
  text-align: center;
  box-shadow: 0 4.5px 9px 0 rgba(250, 30, 136, 0.25), 0 7px 25px 0 rgba(0, 0, 0, 0.2);
  max-height: 640px;
  max-width: 400px;
}

.host-name-tag {
  color: $dark-text-color;
  font-size: 4rem;
  margin: 4rem;
}
