.hidden {
  display: none;
}
.colorChooser-colorDropdown-widget {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.colorList-box {
  width: 9.5em;
  height: 2.5em;
  margin-left: .75em;
  margin-right: .75em;
  background-color: white;
}

.colorList-hues {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
